name: CI - run tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run Pytest
      run: pytest -q

    - name: Login in with Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
      
    - name: Build Docker Image
      run: docker build -t pateljames/weatherapp:v2 .

    - name: Push Docker Image
      run: docker push pateljames/weatherapp:v2

    - name: Tag Docker Image as latest
      run: docker tag pateljames/weatherapp:v2 pateljames/weatherapp:latest

    - name: Push latest Docker Image
      run: docker push pateljames/weatherapp:latest
      